@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 234, 234, 234;
  --background-start-rgb: 15, 17, 19;
  --background-end-rgb: 15, 17, 19;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0F1113;
  font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}